.flowCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #EAEDEF;
  background: #FFF;
  width: 100%;
  padding: 0;
  box-shadow: none;
  position: relative;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1em;
}

.actions > * {
  margin-left: 0;
  padding: 0 0.5em;
}

.tags {
  padding: 1em;
}

.flowMenu {
  position: absolute;
  top: 44px;
  right: 15px;
}

.flowName {
  font-size: 18px;
  padding: 0;
}

 .actionIcon {
   padding: 0;
 }
