.flowCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #EAEDEF;
  width: 250px;
  height: 200px;
  padding: 0;
  box-shadow: none;
  position: relative;
}

.header {
  padding: 1em;
  max-width: 190px;
}

.tags {
  padding: 1em;
}

.flowMenuWrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.flowMenu {
  position: absolute;
  top: 40px;
  right: 22px;
}

.flowMenuButton {
  position: absolute;
  top:0;
  right: 0;
}
