.menu {
  width: 164px;
  background: #FFF;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 2px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
  transition: all .2s ease-in;
  z-index: 10;
}

.menu > * {
  color: #6e798b;
  font-size: 14px;
  display: block;
  width: 100%;
}

.menu > *:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #48505d;
}

.menu > *:last-child {
  border: none;
}
