.menu {
  width: 150px;
  background: #FFF;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
  transition: all .2s ease-in;
}

.menu > * {
  display: block;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
}

.menu > *:hover {
  background: rgba(232, 243, 252, 0.36);
}

.menu > *:last-child {
  border: none;
}
